﻿@model IEnumerable<Rsvp.Client.ServiceReference.RsvpRequest>
<h1>Rsvps</h1>
@{
    var grid = new WebGrid(this.Model);
}

@Html.ActionLink("Refresh", "Refresh", null, new { @class="btn btn-info" })

@grid.Table(tableStyle: "table")